[Unit]
Description=SMRT API Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/api_server
Environment=PYTHONUNBUFFERED=1
ExecStart=/var/www/api_server/venv/bin/python /var/www/api_server/app.py
Restart=always

[Install]
WantedBy=multi-user.target
